.manage-patient-container {
    .manage-patient-title {
        text-transform: uppercase;
        margin-top: 15px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .manage-patient-body {
        // margin: 15px auto;
    }
}
