.manage-handbook-container {
    padding: 0 15px;
    .manage-handbook-title {
        text-align: center;
        margin: 10px 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
    }

    .add-new-handbook {
        .btn-save-handbook {
            border: none;
            font-size: 16px;
            padding: 5px 13px;
            outline: none;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                background-color: #0069d9;
                color: #fff;
            }
        }
    }
}
