.manage-doctor-container {
    padding: 10px;

    .manage-doctor-title {
        margin: 10px 0;
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }

    .save-content-doctor {
        margin: 20px 20px 30px;
        padding: 10px;
        border: none;
        outline: none;
        font-size: 16px;
        cursor: pointer;
        background-color: #bbb;
        border-radius: 10px;

        &:hover {
            opacity: 0.8;
        }
    }
}
