.image-container {
  .upload-image {
    padding: 6px;
    background: #ccc;
    cursor: pointer;
    font-size: 16px;

    span {
      margin: 0 8px;
    }

    i {
      margin-right: 6px;
      color: blue;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .prev-image {
    width: 80%px;
    height: 70px;
    border: 1px solid rgb(248, 238, 238);
    background: center center no-repeat;
    background-size: contain;
  }
}
