.doctor-schedule-container {
    position: relative;
    height: 100%;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        height: 80%;
        width: 1px;
        background-color: #ccc;
        transform: translateY(-50%);
    }
    select {
        background: transparent;
        border: none;
        color: #337ab7;
        border-bottom: 1px solid #999;
        border-radius: 0;
        font-weight: bold;
        padding: 10px;
        outline: none;
        cursor: pointer;
    }
    .all-schedule {
    }

    .all-time-available {
        .text-calendar {
            margin: 10px 0;
            i {
                margin: 0 10px;
            }
            span {
                text-transform: uppercase;
                color: #333;
                font-weight: bold;
            }
        }
        .time-container {
            .time-content {
                display: flex;
                grid-gap: 10px;
                gap: 10px;
                flex-wrap: wrap;
                padding: 16px 0;
                button {
                    padding: 8px;
                    margin: 0 10px;
                    border: none;
                    outline: none;
                    width: 150px;
                    border-radius: 3px;
                    background-color: #fff8ae;
                    font-weight: 600;
                    color: #333;

                    &:hover {
                        background-color: #45c3d2;
                        color: #fff;
                    }
                }
            }
            .no-appointment {
                font-style: italic;
                margin-left: 10px;
            }
        }
    }
}
