.profile-doctor-container {
    .intro-doctor {
        padding: 15px 0;
        margin: 0;

        .down {
            display: flex;

            .left {
                width: 100px;
                height: 100px;
                margin: 0px 20px;
                background: center/ contain no-repeat;
                border-radius: 50%;
            }

            .right {
                flex: 1;
                padding-left: 10px;

                .doctor-name {
                    font-size: 27px;
                    margin-bottom: 10px;
                    font-weight: 600;
                }

                .doctor-info {
                    color: #555;
                    font-size: 13px;
                }
                .view-detail-doctor {
                    margin-top: 4px;
                    a {
                        color: #45c3d2;
                    }
                }

                .share-btn {
                    margin-top: 10px;
                    height: 20px;
                    padding: 0px 8px;
                    line-height: 20px;
                    font-size: 12px;
                    max-width: fit-content;
                }
            }
        }
    }
}
