.home-header-container {
  height: 78px;
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;

  .home-header-content {
    display: flex;
    width: 1170px;
    height: 58px;
    margin: auto;
    padding: 0 15px;

    .left-content {
      width: 25%;
      display: flex;
      align-items: center;

      i.fas.fa-bars {
        margin-left: 50px;
        font-size: 25px;
        color: grey;
        margin-right: 10px;
        cursor: pointer;
      }

      .header-logo {
        background: url('../../assets/images/logo.svg') center center no-repeat;
        margin-left: 20px;
        width: 140px;
        height: 60px;
        cursor: pointer;
      }
    }

    .center-content {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .child-content {
        .sub-title {
          font-size: 12px;
          font-weight: 300;
        }
      }
    }

    .right-content {
      width: 25%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .support {
        display: flex;
        align-items: center;

        i {
          font-size: 20px;
          color: #45c3d2;
          margin-right: 4px;
        }

        span {
          font-size: 14px;
          line-height: 14px;
        }
      }

      .language-vi {
        cursor: pointer;
        margin-left: 15px;
        font-weight: 600;
        opacity: 0.5;

        &.active {
          opacity: 1;

          span {
            color: red;
          }
        }

        &:hover {
          opacity: 1;
        }
      }

      .language-en {
        cursor: pointer;
        font-weight: 600;
        margin: 0 15px;
        opacity: 0.5;

        &.active {
          opacity: 1;
          span {
            color: blue;
          }
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.home-header-banner {
  background: url('../../assets/header-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 510px;
  display: flex;
  flex-direction: column;

  .banner-up {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0.1)
    );
    height: 50%;

    .title1 {
      text-align: center;
      font-size: 32px;
      color: white;
      text-shadow: 1px 1px 1px #333;
      margin-top: 42px;
      margin-bottom: 5px;
    }

    .title2 {
      text-align: center;
      font-size: 32px;
      font-weight: 600;
      color: white;
      margin-bottom: 10px;
      text-shadow: 1px 1px 1px #333;
    }

    .search {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px auto 0;
      min-width: 456px;
      padding: 10px;
      border-radius: 25px;
      background: #f7d800;
      position: relative;

      i {
        font-size: 18px;
        position: absolute;
        top: 0;
        width: 50px;
        left: 0;
        height: 50px;
        line-height: 50px;
        text-align: center;
      }

      input {
        height: 30px;
        min-width: 350px;
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }

  .banner-down {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.9),
      white
    );
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .option {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 10px;

      .option-child {
        width: 125px;
        text-align: center;
        padding: 8px 12px;

        .icon-child {
          background: white;
          width: 50px;
          height: 50px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;

          i {
            color: #49bce2;
            font-size: 25px;
          }
        }
        .text-child {
          font-size: 16px;
          font-weight: 610;
          margin-top: 10px;
          &:hover {
            color: #49bce2;
            cursor: pointer;
          }
        }
      }
    }
  }
}
